.services_parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 1rem;
  box-sizing: border-box;
  margin-top: var(--section_space);
}
.accordion_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.h1 {
  margin: 0px;
  font-size: var(--heading);
  align-self: flex-start;
  margin-left: 3.90625rem;
  letter-spacing: var(--heading_spacing);
}
.hr {
  width: 8.4375rem;
  height: 0px;
  background-color: black;
  border: 0.03rem solid black;
  align-self: flex-start;
  padding: 0px;
  margin: 0px;
  margin-left: 3.90625rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
