.home {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.home_cube {
  position: absolute;
  top: 68.5rem;
  right: -2rem;
  width: 4.9375rem;
  height: auto;
}
.home_cube path {
  fill-opacity: 0.4;
}
.dotted {
  position: absolute;
  top: 129.5rem;
  transform: rotate(90deg);
  width: 27.8125rem;
  right: -12.3rem;
  height: auto;
  right: px;
}
.dotted path {
  fill-opacity: 0.7;
}
.logo {
  width: 4.0625rem;
  position: absolute;
  top: 2.65625rem;
  left: 2.1875rem;
}
