@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
  --homeH1: 2.5rem;
  --footerP: 1.5rem;
}
a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1920px) {
  html {
    font-size: 24px;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 19px;
  }
}
@media (max-width: 1366px) {
  html {
    font-size: 16px;
  }
}
