@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100%);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
  --heading: 1.75rem;
  --head_para: 0.6875rem;
  --sub_heading: 1rem;
  --margin: 2.185rem;
  --line_height: 1.375rem;
  --section_space: 8.75rem;
  --para: 0.5625rem;
  --footerP: 0.5625rem;
  --heading_spacing: 0.07875rem;
}
a {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e3f7d;
  border-radius: 0px;
  height: 15rem;
}

@media (max-width: 1920px) {
  html {
    font-size: 32px;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 26.25px;
  }
}
@media (max-width: 1366px) {
  html {
    font-size: 20.5px;
  }
}
