.nav_parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  z-index: 20;
}
.burger {
  display: none;
}
.burger_hr_container,
.burger_page_hr_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  box-sizing: border-box;
  /* border: 1px solid black; */
  border-radius: 50%;
  cursor: pointer;
}
.burger_page_hr_container {
  position: absolute;
  top: 2%;
  right: 0%;
  /* z-index: 11; */
}
.inside_span {
  margin-top: 0.35rem;
}
.burger:checked ~ .nav_page {
  right: 0px;
}
.burger_hr_top,
.burger_hr_middle,
.burger_hr_bottom,
.burger_page_hr_top,
.burger_page_hr_bottom {
  margin: 0px;
  width: 2.3rem;
  height: 0.2rem;
  border: none;
  background-color: #1d1d1d;
}
.burger_hr_top {
  width: 2.3rem;
}
.burger_hr_middle {
  width: 2rem;
}
.burger_page_hr_top,
.burger_page_hr_bottom {
  background-color: white;
  width: 2.5rem;
}
.burger_page_hr_top {
  transform: rotate(45deg);
  transform-origin: center center;
}
.burger_page_hr_bottom {
  transform: rotate(315deg) translateX(0.15rem) translateY(-0.2rem);
  transform-origin: center center;
}

.nav_page {
  width: 100%;
  top: 0px;
  right: -100%;
  height: 100vh;
  position: fixed;
  background: black;
  transition: all 0.3s;
}
@keyframes animate {
  0% {
    top: -2%;
  }
  100% {
    top: 0px;
  }
}
@keyframes animate_fixed {
  0% {
    top: -20%;
  }
  100% {
    top: 0px;
  }
}
