.burger {
  display: none;
}
.burger_hr_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: calc(2.1875rem - 0.75rem);
  right: calc(2.1875rem - 1rem);
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  z-index: 20;
}

.burger_hr_top,
.burger_hr_middle,
.burger_hr_bottom {
  margin: 0px;
  width: 1rem;
  height: 0.125rem;
  border: none;
  border-radius: 0.125rem;
  background-color: #1d1d1d;
}
.burger_hr_top {
  width: 1rem;
}
.burger_hr_middle {
  width: 1rem;
}

.nav_page {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 100vh;
  background: #1d1d1d;
  z-index: 15;
}
.nav_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav_right_ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 25%;
  height: 100%;
  padding-top: 6.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: calc(2.1875rem);
  box-sizing: border-box;
  position: relative;
}
.nav_ul_li {
  position: relative;
  color: #686868;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.875rem;
  letter-spacing: 0.09rem;
  text-align: right;
  cursor: pointer;
  /* transition: all 0.3s; */
}
.inner_div {
  position: relative;
}
.nav_page_left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-left: 2.1875rem;
  box-sizing: border-box;
  overflow: hidden;
}
.social_container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.social_ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  position: relative;
  justify-content: space-between;
  padding-top: 6.6875rem;
  box-sizing: border-box;
}
.social_ul_li {
  position: relative;
  color: #686868;
  font-size: 0.875rem;
  letter-spacing: 0.039375rem;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  text-align: left;
}
.social_h2 {
  color: #ffffff;
  font-size: 0.6875rem;
  letter-spacing: 0.0309375rem;
  margin: 0px;
  text-align: left;
  position: relative;
}
.social_hr {
  width: 60%;
  height: 0px;
  border: 0.005rem solid #686868;
  /* opacity: 0.4; */
  background-color: #686868;
  margin: 0px;
  align-self: flex-start;
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
}
.social_h3 {
  font-size: 0.625rem;
  letter-spacing: 0.028125rem;
  color: #ffffff;
  margin: 0px;
  position: relative;
}
.logo {
  width: 4.0625rem;
  position: absolute;
  top: 2.1875rem;
  left: 2.1875rem;
}
.logo path {
  fill: #ffffff;
}
.logo rect {
  stroke: #ffffff;
}
